---
import TeamMemberComponent from "./TeamMemberComponent.astro";

const teamMembers = [
    {
        photo: "https://media.licdn.com/dms/image/v2/D4E03AQFUEOhuM8r6vA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1700267567541?e=1733961600&v=beta&t=iMLSEnQ5xwe0xwJCYGEVUps_b1THIXcK6yApr_UsbPA",
        name: "Sebastian Fernandez",
        title: "Journalism and Communication",
        description: "Communicator specialized in information literacy and social innovation. Founder of the media outlet Esquina Informativa and producer at Av Films, a film production company focused on social and environmental issues.",
        linkedinLink: "https://www.linkedin.com/in/sebastian-fernandez-moris-469a43292/"
    },
    {
        photo: "https://media.licdn.com/dms/image/v2/D5603AQGfO3VPB7__kQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1701676111664?e=1733961600&v=beta&t=FxKRWO6a1K1I1pJZPs-q-g16O42YlDDKYm_436RTMaM",
        name: "Sofía Enciso",
        title: "Political Science",
        description: "Specializing in public management and public policies. Graduated with honors from the University of Arizona, with a BA in PPEL. I aim to build a professional career in the fields of public management and international relations.",
        linkedinLink: "https://www.linkedin.com/in/sofía-enciso-goicochea-41bbb8258"
    },
    {
        photo: "https://media.licdn.com/dms/image/v2/D4E03AQFNI6cqxt3sAw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1704006738352?e=1733961600&v=beta&t=ju9n_Fix3897icW8RBYAAiUTFLgepUXsEeo7fwb32cE",
        name: "Daniel Zapata",
        title: "Systems Engineering",
        description: "Specialized in web development, programming, databases, and cloud technologies. I developed the \"Desatendidos\" special for El Comercio, integrating an AI chatbot. I always strive to create innovative and efficient technological solutions.",
        linkedinLink: "https://www.linkedin.com/in/daniel-alonso-zapata-trelles-1664aa1b9/"
    },
    {
        photo: "https://media.licdn.com/dms/image/v2/D4E03AQHJSmpxdvGLqw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1700244350012?e=1733961600&v=beta&t=iu8eDtQWO_jMvqYayPUXuDokziW5cEqj2xBuxbVMd6A",
        name: "Liliana Fu Ye",
        title: "Software Engineering",
        description: "I have experience in web and mobile development and have participated in projects focused on optimizing processes and creating practical solutions through the use of technology. My focus is to combine innovation with efficiency to solve real-world problems.",
        linkedinLink: "https://www.linkedin.com/in/lilianafuye"
    },
];
---

<section class="container mx-auto px-2 py-4" id="about">
    <div class="flex flex-col items-center justify-center">
        <div class="grid gap-2 text-center justify-center p-4">
            <h1 class="text-3xl md:text-5xl text-secondary font-extrabold">
                Our Team
            </h1>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 p-4">
            {teamMembers.map(member => (
                    <TeamMemberComponent
                            photo={member.photo}
                            name={member.name}
                            title={member.title}
                            description={member.description}
                            linkedinUrl={member.linkedinLink}
                    />
            ))}
        </div>
    </div>
</section>